// $primeryColor: "#393E46";
// $secondaryColor: "#EEEEEE";
// $accentColor: "#FD7014";
$dark:#202124;
$gray:#959595;
$darkGray:#424242;
$accentColor:#ec407a;
$background:rgba(243, 243, 243, 0.507);
$footerBackground:#393c40;
$footerColor:#e0e0e0;