.imge-category {
    display: flex;

    &:nth-child(2n) {
        justify-content: flex-end;
    }

    img {
        width: 90%;
        margin-bottom: 50px;
        margin-top: 20px;
        cursor: pointer
    }
}
// .parent-categories{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }