.dropdown-content {
    display: none;
    /*Hides the content*/
    position: absolute;
    left: 5px;
    top: 80px;
    background-color: #252629;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    /*Adds a drop shadow*/
    z-index: 1;
    border-radius: 2%;
    color: white;
}

// #2d2d30
.dropdown-content:after {
    content: '';
    /* Required to display content */
    position: absolute;
    /* Sets the position absolute to the top div */
    top: 0;
    left: 16px;
    /* position the little arrow */
    margin-left: -15px;
    margin-top: -15px;
    /* Set margin equal to border px */
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 15px #252629;
    /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 15px transparent;
    /* Creates triangle effect */
    border-right: solid 15px transparent;
    /* Creates triangle effect */
}

.displayNone {
    display: none;
}

.display {
    display: block;
    position: absolute;
}

.backgroundDropdown {
    background-color: #252629;
}

.totalPrice {
    display: flex;
    color: #d2d2d2;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.closeCard {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px
}
.priceShopping{
    font-size: 14px;
     margin-top: 10px
}