.parent-footer {
    background-color: $footerBackground;
    height: 170px;
    width: 100%;
    color: $footerColor;
    position: absolute;
    bottom: -250px;
    font-weight: lighter;
}
.borderBottomFooter{
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10px;
}
.vertical-border {
    border-left: 1px solid #4d4d4d;
    height: 50px;
}

.icon-email {
    font-size: 32px;
    margin-right: 10px;
}

.icon-phone {
    font-size: 24px;
}

.logo-footer {
    width: 50px;
}
.p-footer{
    font-weight: lighter;
    font-size: 12px;
}
.icon-social{
    margin:0px 15px;
    cursor: pointer;
    font-size: 20px;
    color:#ddc5c570;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(43, 42, 42, 0.562);
    border-radius: 50%;
}