.header-logo {
    max-height: 74px;
}
.parent-header{
    background-color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}

.header-link {
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    padding-right: 30px;
    color: $gray;
    font-size: 12px;

    &:first-of-type {
        color: $dark;
    }

    &:hover {
        color: $dark;
    }
}

.justify-space {
    justify-content: space-between;
}

.header-arrow {
    color: $dark;
    font-size: 35px;
    margin-right: 11px;
}

.img-parernt {
    width: 60px;
    height: 60px;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

.img-profile {
    border-radius: 50%;
    width: 50px;
    border: 5px solid $gray;

}

.hr {
    border: none;
    color: #fafafa;
    background-color: #fafafa;
    height: 5px;
}


.nav-link {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    color: $dark;
    margin: 8px;
    padding-left: 16px;
    border-bottom: 5px solid transparent;

    &:hover {
        border-bottom: 5px solid #ec407a;
    }
}

.nav-shopping {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.heder-shopping-icon {
    font-size: 30px;
    color: $darkGray;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
}

.hr-shadow {
    height: 5px;
    border: 0;
    box-shadow: 0 0px 5px -10px #aaa inset;
    padding:0
}

.container-fluid{
    padding-left: 0 !important ;
    padding-right: 0 !important;
}
.parent-shopping-icon{
    position: relative;
    margin-right: auto;
}
.cart-badge{
    position: absolute;
    top:-18px;
    left:10px;
    background-color: $accentColor;
    color:white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.visibilityBadge{
    visibility: visible;
}

.btns-cart{
    width:60%;
    margin:auto;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black
}