body{
  margin:0;
  padding:0;
  background-color: $background;
  width: 100%;  
  height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: shabnam;
}
.spinner{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  min-height:100vh;
  position:relative;
}